# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
node_modules
package

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vscode/
.idea/
.history/
systemManager/node_modules/
carMobile2/发送.url
systemManager/dist/
systemManager/package/
carMobile/package/
carMobile/dist/
downloadPage/
carPartner/
*.map
systemManager/src/data/URL.js
systemManager/src/data/DICT.js
systemManager/src/common/modal/select-column/list.component.js
partnerManager/src/angular-common/
systemManager/src/angular-common/
angular-common/
partnerManager/dist/*
partnerManager/package/*
deploy.sh
systemManager/src/angularCommon/*
systemManager/src/app/workspace/workspace.component.js
systemManager/src/app/login/login.component.js
systemManager/src/app/index.js
systemManager/src/app/contract/contract.component.js
systemManager/src/app/cms/citybase/form/form.component.js
systemManager/src/app/cms/charging-rule/form/form.component.js
systemManager/src/app/cms/bill-date/bill-date.component.js
systemManager/src/data/VALIDATION.js
systemManager/src/app/workspace/workspace.routes.js
src/angular-common - 快捷方式.lnk
src/assets/images/icon/cctpc/cct_icon9.png
src/assets/images/icon/cctpc/cct_icon8.png
src/assets/images/icon/cctpc/cct_icon7.png
src/assets/images/icon/cctpc/cct_icon6.png
src/assets/images/icon/cctpc/cct_icon5.png
src/assets/images/icon/cctpc/cct_icon3.png
src/assets/images/icon/cctpc/cct_icon2.png
src/assets/images/icon/cctpc/cct_icon10.png
src/assets/images/icon/cctpc/cct_icon1.png
src/app/order/order-vip/list/modal/modal.component.ts
src/app/order/order-vip/list/modal/modal.component.html
src/app/order/order-special-line/passenger-list/list/modal/form.component.ts
src/app/order/order-special-line/passenger-list/list/modal/form.component.scss
src/app/order/order-special-line/passenger-list/list/modal/form.component.html
src/app/order/order-special-line/passenger-list/list/list.component.ts
src/app/order/order-special-line/passenger-list/list/list.component.spec.ts
src/app/order/order-special-line/passenger-list/list/list.component.scss
src/app/order/order-special-line/passenger-list/list/list.component.html
src/app/order/order-special-line/passenger-form/form/path/path.component.ts
src/app/order/order-special-line/passenger-form/form/path/path.component.scss
src/app/order/order-special-line/passenger-form/form/path/path.component.html
src/app/order/order-special-line/passenger-form/form/passenger-info/passenger.component.ts
src/app/order/order-special-line/passenger-form/form/passenger-info/passenger.component.scss
src/app/order/order-special-line/passenger-form/form/passenger-info/passenger.component.html
src/app/order/order-special-line/passenger-form/form/passenger-info/modal/form.component.ts
src/app/order/order-special-line/passenger-form/form/passenger-info/modal/form.component.scss
src/app/order/order-special-line/passenger-form/form/passenger-info/modal/form.component.html
src/app/order/order-special-line/passenger-form/form/passenger-info/modal/form.component.css
src/app/order/order-special-line/passenger-form/form/form.component.ts
src/app/order/order-special-line/passenger-form/form/form.component.scss
src/app/order/order-special-line/passenger-form/form/form.component.html
src/app/order/order-special-line/passenger-form/form/driver-info/driver.component.ts
src/app/order/order-special-line/passenger-form/form/driver-info/driver.component.html
src/app/order/order-special-line/passenger-form/form/dispatch-log/modal/modal.component.ts
src/app/order/order-special-line/passenger-form/form/dispatch-log/modal/modal.component.scss
src/app/order/order-special-line/passenger-form/form/dispatch-log/modal/modal.component.html
src/app/order/order-special-line/passenger-form/form/dispatch-log/form.component.ts
src/app/order/order-special-line/passenger-form/form/dispatch-log/form.component.scss
src/app/order/order-special-line/passenger-form/form/dispatch-log/form.component.html
src/app/order/order-special-line/driver-list/list/modal/form.component.ts
src/app/order/order-special-line/driver-list/list/modal/form.component.scss
src/app/order/order-special-line/driver-list/list/modal/form.component.html
src/app/order/order-special-line/driver-list/list/list.component.ts
src/app/order/order-special-line/driver-list/list/list.component.scss
src/app/order/order-special-line/driver-list/list/list.component.html
src/app/order/order-special-line/driver-form/form/path/path.component.ts
src/app/order/order-special-line/driver-form/form/path/path.component.scss
src/app/order/order-special-line/driver-form/form/path/path.component.html
src/app/order/order-special-line/driver-form/form/passenger-info/passenger.component.ts
src/app/order/order-special-line/driver-form/form/passenger-info/passenger.component.scss
src/app/order/order-special-line/driver-form/form/passenger-info/passenger.component.html
src/app/order/order-special-line/driver-form/form/passenger-info/modal/form.component.ts
src/app/order/order-special-line/driver-form/form/passenger-info/modal/form.component.scss
src/app/order/order-special-line/driver-form/form/passenger-info/modal/form.component.html
src/app/order/order-special-line/driver-form/form/passenger-info/modal/form.component.css
src/app/order/order-special-line/driver-form/form/form.component.ts
src/app/order/order-special-line/driver-form/form/form.component.scss
src/app/order/order-special-line/driver-form/form/form.component.html
src/app/order/order-special-line/driver-form/form/driver-info/modal/form.component.ts
src/app/order/order-special-line/driver-form/form/driver-info/modal/form.component.scss
src/app/order/order-special-line/driver-form/form/driver-info/modal/form.component.html
src/app/order/order-special-line/driver-form/form/driver-info/modal/form.component.css
src/app/order/order-special-line/driver-form/form/driver-info/driver.component.ts
src/app/order/order-special-line/driver-form/form/driver-info/driver.component.html
src/app/order/order-special-line/driver-form/form/dispatch-log/modal/modal.component.ts
src/app/order/order-special-line/driver-form/form/dispatch-log/modal/modal.component.scss
src/app/order/order-special-line/driver-form/form/dispatch-log/modal/modal.component.html
src/app/order/order-special-line/driver-form/form/dispatch-log/form.component.ts
src/app/order/order-special-line/driver-form/form/dispatch-log/form.component.scss
src/app/order/order-special-line/driver-form/form/dispatch-log/form.component.html
src/app/open-platform-management/official-partner/list/log-delete/list.component.ts
src/app/open-platform-management/official-partner/list/log-delete/list.component.scss
src/app/open-platform-management/official-partner/list/log-delete/list.component.html
src/app/open-platform-management/official-partner/list/log-delete/list.component.css
src/app/marketing/user-message/usermessageform/usermessageform.component.ts
src/app/marketing/user-message/usermessageform/usermessageform.component.spec.ts
src/app/marketing/user-message/usermessageform/usermessageform.component.scss
src/app/marketing/user-message/usermessageform/usermessageform.component.html
src/app/marketing/user-message/list/list.component.ts
src/app/marketing/user-message/list/list.component.spec.ts
src/app/marketing/user-message/list/list.component.scss
src/app/marketing/user-message/list/list.component.html
src/app/marketing/user-message/UserMessage.service.ts
src/app/marketing/user-message/UserMessage.service.spec.ts
src/app/marketing/partner-message/list/list.component.ts
src/app/marketing/partner-message/list/list.component.spec.ts
src/app/marketing/partner-message/list/list.component.scss
src/app/marketing/partner-message/list/list.component.html
src/app/marketing/partner-message/form/form.component.ts
src/app/marketing/partner-message/form/form.component.spec.ts
src/app/marketing/partner-message/form/form.component.scss
src/app/marketing/partner-message/form/form.component.html
src/app/marketing/car-owner-message/list/list.component.ts
src/app/marketing/car-owner-message/list/list.component.spec.ts
src/app/marketing/car-owner-message/list/list.component.scss
src/app/marketing/car-owner-message/list/list.component.html
src/app/marketing/car-owner-message/form/form.component.ts
src/app/marketing/car-owner-message/form/form.component.spec.ts
src/app/marketing/car-owner-message/form/form.component.scss
src/app/marketing/car-owner-message/form/form.component.html
src/app/marketing/car-owner-message/car-owner-message.service.spec.ts
src/app/marketing/car-owner-message/CarOwnerMessage.service.ts
src/app/log-record/carpooling-single-log/list/list.component.ts
src/app/log-record/carpooling-single-log/list/list.component.spec.ts
src/app/log-record/carpooling-single-log/list/list.component.scss
src/app/log-record/carpooling-single-log/list/list.component.html
src/app/cms/carpooling-dispatch/list/list.component.ts
src/app/cms/carpooling-dispatch/list/list.component.spec.ts
src/app/cms/carpooling-dispatch/list/list.component.scss
src/app/cms/carpooling-dispatch/list/list.component.html
src/app/cms/carpooling-dispatch/form/form.component.ts
src/app/cms/carpooling-dispatch/form/form.component.spec.ts
src/app/cms/carpooling-dispatch/form/form.component.scss
src/app/cms/carpooling-dispatch/form/form.component.html
src/app/cms/carpooling-commonRules/form/form.component.ts
src/app/cms/carpooling-commonRules/form/form.component.spec.ts
src/app/cms/carpooling-commonRules/form/form.component.scss
src/app/cms/carpooling-commonRules/form/form.component.html
src/app/cms/carpooling-commonRules/form/form.component.css
